.nav-breadcrumb{
    background-color: #fff;
}

ul.breadcrumb {
    list-style: none;
    background-color: #fff;
    margin-bottom: 0px;
}

ul.breadcrumb li {
    display: block;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 20px;
    color: black;
    content: ">";
}

ul.breadcrumb li a {
    padding: 1px;
    text-decoration: none;
}
  
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

  .breadcrumbNow {
    color: black;
}